# Node modules
node_modules/
  
# Expo
.expo/
.expo-shared/

# Logs
*.log
*.log.*
npm-debug.log*

# MacOS files
.DS_Store

# Build outputs
android/
ios/
build/

# Package files
package-lock.json
yarn.lock

# Environment variables
.env

# Miscellaneous
.vscode/
.idea/
